.page {
    height: 100%;
    background-image: url("back.png");
    background-size: cover;
    
}

.header {
    margin-left: 8%;
    height: 45%;
    bottom: 10px;
}

.user-photo {
    margin-bottom: 3%;
    position: absolute;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    bottom: 53%;
}

.detalles {
    margin-left: 8%;
    color: #FFF;
    border-radius: 15px 50px 0px 0px;
    width: auto;
    height: 100%;
    bottom: 10px;
    margin-bottom: 3%;
}

.cuenta {
    margin-right: 70px;
    color: rgb(182, 180, 180);
}