#wrapper {
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: #000 !important;


}


.noplayers {
  font-size: 15px;
  color: #000;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  color: rgb(63,81,167);
  font-family:'Bebas Kai';

}

.MuiTableCell-body {
  color: #000 !important; 
  font-weight: 400;
}

td.ae-zone {
  background-color: '#e57373' !important;
  color: "white" !important;
}

#tableContainer {
  /* max-width: 280px;
  width: 100%; */
  
}

.table {

    overflow-y: auto;
    overflow-x: hidden;
    font-size: 30px;
    
  }


#players {
	font-size: 20px;
}



